.carta{
    border-style: solid;
    border-color: white;
    border-radius: 12px;
    border-width: 4px;
    margin-left: 30%;
    margin-right: 20%;
}
.title {
    justify-content: center;
    margin: 30px;
    font-style: italic;
    margin-left: 45%;
    color: yellow;
}
